.header-text{
    margin-top: 20px;
    margin-left: 24px; 
    /* background-color:#b1170f; */
    color:black; 
    font-family: Garamond; 
    font-size: 30px; 
    text-align: center; 

}

.intro-text{
    margin-top: 20px;
    margin-left: 24px; 
    color: black; 
    font-family: Arial; 
    font-size: 26px; 
}
